*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 /*------------------------INICIO DE PAGINA PRINCIPAL - INDEX---------------------------*/

 /*------------------------Inicio de encabezado de PAGINA PRINCIPAL---------------------------------------*/
 body {
      width: auto;
      background-image: url(../img/este.jpg);
 }


 .contenido-gral .encabezado {
        background: #00000000;
        padding: 2px;
        padding: 1px;
        margin: 1px auto;
 }

 .contenido-gral .encabezado h1 { 
    color: snow;
    text-align: center;
    margin: 10px auto 1px auto ;
    font-weight: bold;
    font-family:'Bebas Neue', cursive;
    font-size: 110px;
    font-style: oblique;
    padding: 1px;
    text-shadow: 6px 3px 9px orange;
    transition: 1.2s;
            
}

/*---------------------------------Fin de encabezado de PAGINA PRINCIPAL - INDEX-------------------------*/
 /*----------------------------------- Inicio de INFO sobre la pagina principal--------------------------*/ 
 .contenido-gral .info p {
    font-size: 18px;
    color: snow;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    margin: 1px 10px;
    padding: 1px;
}
/*-------------------------------- Fin de INFO sobre la pagina principal----------------------------------*/

 /*-------------------------------------Fin de encabezado de PAGINA PRINCIPAL-----------------------------*/

 /*--------------------------INICIO DE MENU DE NAVEGACION DE PAGINA PRINCIPAL - INDEX---------------------*/
 .contenido-gral  .nav.nav-pills{
      text-align: center;
      background: rgba(0, 0, 0, 0.445);
      justify-content: center;
      font-size: 45px;
      margin: 10px 60px;
      padding: 10px;
      border: 4px;
      border-style:ridge;
      border-color: burlywood;
      border-radius: 5px;
      font-family:'Bebas Neue', cursive;
      font-weight: bold;
      box-shadow: 1px 2px 6px; color: brown;
     
 
 }
 .contenido-gral .nav-pills .nav-link.active {
     color: #deb887;
     background: none;
     font-family: 'Bebas Neue', cursive;
     text-shadow: 1px 5px 5px maroon;
     font-style: italic;
 }
 .contenido-gral .nav-pills .nav-link.active:hover {
     color: yellow;
     background: none;
     text-shadow: 1px 4px 2px #969602;
 }
 .contenido-gral .nav-item.dropdown .nav-link.dropdown-toggle{
    color: burlywood;
     text-shadow: 1px 5px 5px maroon;
     font-style: italic;
 } 
 .contenido-gral .nav-item.dropdown .nav-link.dropdown-toggle:hover{
     color: yellow;
     text-shadow: 1px 4px 2px #969602;
 } 
 
 .contenido-gral .dropdown-menu {
     background: #000000ea;
     border-radius: 15px;
     transition:0.20s;
 }
 .contenido-gral .dropdown-menu .dropdown-item {
     color: yellowgreen;
     font-family:'Bebas Neue', cursive;
     font-size: 24px;
     font-weight: bold;
 }

 .contenido-gral .dropdown-menu .dropdown-item:hover {
     color:#000000;
 }
 /*---------------------------FIN DE MENU DE NAVEGACION de PAGINA PRINCIPAL - INDEX----------------------*/
/*-------------------------------INICIO de MAIN de PAGINA PRINCIPAL--------------------------------------*/
.contenido-gral .main {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, auto);
    width: auto;
} 
.contenido-gral .main .contdestacado {
    grid-column: 1/4;
}

.contenido-gral .main .contdestacado h2 {
   font-size: 90px;
   color:white;
   font-style:italic;
   font-weight: bold;
   font-family:'Bebas Neue', cursive;
   margin: 1px auto;
   padding: 1px;
   text-align: center;
   text-shadow: 4px 3px 9px burlywood;
   transform:rotateX(360deg) translate(0px, 1px);
   transition: 1.6s;
   
}
.contenido-gral .main .spotify {
    text-align: center;
    width: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 20px auto;
    
}

.contenido-gral .main .spotify iframe {
    box-shadow: 0 1px 14px; color: seashell;
    margin: 15px auto;

}
.contenido-gral .main .hache3 {
    width: 200px;
    height: 420px;
    margin: 50px auto;
    grid-column: 3/4;
    grid-row: 2/3;
  
}
.contenido-gral .main .hache3 p{
    font-size: 18px;
    color:white;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    transform: scale(1) translate(0px, 1px);
    transition: 1.2s;
    scrollbar-width: 0px;
}

.contenido-gral .main .hache3 span p{
    font-family: 'Times New Roman', Times, serif;
    text-shadow: none;
    font-size: 18px;
    text-decoration:line-through ;
    color: snow;
    margin: 10px auto;
}
.contenido-gral .main img {
    width: 70px;
}
 /*---------------------------Inicio carousel imagenes en Pagina Principal-------------------------------*/
 
 #carouselExampleDark .carousel-inner {
     width: 750px;
     overflow: hidden; 
     margin: 15px auto;
     border-radius: 8px;
     box-shadow: 1px 1px 8px snow;    
     grid-column: 2/3; 
     grid-row: 2/3;
 }
 #carouselExampleDark .carousel-inner:hover {
     overflow: hidden;
     transform: scale(1.1);
     transition: 0.5s;
 }
 
.carousel-caption .d-none .d-md-block{
    width: 100%;
}
 .encabezado .infocontenidodest h2 {
     color: #ffffff;
     margin: 2px auto;
     font-size: 25px;
     font-family:'Chakra Petch', sans-serif; 
     text-align: center;
 }
 #carouselExampleDark .carousel-inner .carousel-item h5 {
    color: gold;
    font-size: 60px;
    font-family:'Bebas Neue', cursive;
    text-shadow: 3px 2px 1px #b10101;
    font-style: italic;
 }
 #carouselExampleDark .carousel-inner .carousel-item a {
    color: gold;
    font-size: 60px;
    font-family:'Bebas Neue', cursive;
    text-shadow: 3px 2px 1px #b10101;
    font-style: italic;
    text-decoration: none;
 }
 
 #carouselExampleDark .carousel-inner .carousel-item p {
     color: navajowhite ;
     font-size: 25px;
     font-weight: bold; 
     margin: 1px auto;
     font-family: 'Bebas Neue', cursive;
     text-shadow: 3px 1px 1px black;
  }


 /*-------------------------------Fin de CAROUSEL DE IMAGENES de PAGINA PRINCIPAL-------------------------*/
/*------------------------------------INICIO de FOOTER de PAGINA PRINCIPAL------------------------------*/
 .contenido-gral .footer{
     background:rgba(0, 0, 0, 0.596);
     padding: 1px;    
     border-width: 1px 0px 0px 0px;
     border-color: grey;
     border-style:ridge ;
     box-shadow: 9px 8px 3px white;
 }  
 
 .contenido-gral .footer .redes-ig {
    font-size: 38px;
    padding: 4px;   
    opacity: 1;
    width: auto;
    
}
.contenido-gral .footer .contacto .redes-ig a{
    margin: 1px 4px;
    font-size: 38px;
    color: yellow; 
    text-align: center;   
    text-shadow: 1px 2px 2px orangered;
    
}
.contenido-gral .footer .contacto .redes-ig a:hover{
    color: orange ;   
    transform: scale(1.2);
    transition: 0.4s;
    text-shadow: 1px 2px 2px orangered;
}

 /*--------------------------------FIN de FOOTER de PAGINA PRINCIPAL-------------------------------------*/
  
 /*------------------Inicio de info de contacto APLICA A TODAS LAS PAGINAS-------------------------------*/
 .contacto {
     text-align: center;
     color: rgb(236, 174, 145);
     line-height: 1,6;
     margin: 1px auto;
     padding: 10px;
     font-size: 18px; 
 }
 .contacto a {
     font-size: 22px;
    
 }
 .contacto p {
     margin: 1px auto;
     font-family: 'Times New Roman', Times, serif;
 }
 .contacto .codbarra {
     font-size: 42px;
     font-family:'Libre Barcode 39 Text', cursive;
     padding: 1px;
     color: snow;
 }
 /*-----------------------------------------Fin de info de contactos------------------------------------*/
  /*---------------------------INICIO DE MEDIA QUERIES EN LA PAGINA PRINCIPAL----------------------------*/
  @media screen and (max-width: 768px){
    .contenido-gral{
        margin: 1px;
    }
    .contenido-gral .encabezado .musicales {
        width: auto;
    }
  
    .contenido-gral .encabezado h1 {
        font-size: 56px;
        margin: 5px 1px;
        display: block;
        transition: none;
        text-align: left;
    }
    .contenido-gral .encabezado p {
        font-size: 10px;
        text-align: center;
    }
    .contenido-gral .encabezado .musicales a {
        font-size: 12px;
    }
    .contenido-gral .encabezado .info {
        font-size: 14px;
        margin: 5px auto;
    }
    .contenido-gral  .nav.nav-pills{
        justify-content: center;
        border-style:double;
        border-color:#c0c0c0;
        font-family:'Chakra Petch', sans-serif;
        font-weight: bold;
        box-shadow: none ;
        
   }
   .contenido-gral ul.nav.nav-pills {
       margin: 1px 1px;
       padding: 1px;
       justify-content: center;
       font-size: 24px; 
   }
   .contenido-gral .nav-pills .nav-link.active {
       background: none;
       padding: 1px;
   }
   .contenido-gral .nav-item.dropdown .nav-link.dropdown-toggle{
       padding: 1px;
       font-family: 'Bebas Neue', cursive;
   } 
   .contenido-gral .dropdown-menu .dropdown-item  {
       padding: 1px;
       font-size: 16px;
   } 
    .contenido-gral .main {
        display:contents;
        width: auto;
    }
    .contenido-gral .main .contdestacado h2{
        font-size: 50px;
        margin: 15px auto;
    }
    .contenido-gral .main .spotify iframe {
       display: none;
    }
    
    .contenido-gral #carouselExampleDark .carousel-inner {
        width: auto;
        box-shadow: none;
        padding: 0px;
        margin: 1px auto;
    }
    #carouselExampleDark .carousel-inner:hover {
        overflow: hidden;
        transition: 0.5s;
    }
    .carousel-indicators {
        width: auto;
    }
    .contenido-gral .main .carousel-item.active  {
        width: 380px;
        margin: 1px 10px;
        grid-row: 2/3;
        
    }
    .contenido-gral .main .hache3 {
        width: auto;
        height: fit-content;
        margin: 10px 10px;
    }
    .contenido-gral .main .hache3 p{
       display:inline-block;      
       margin: 1px auto;
       font-size: 16px;
       transition: 1.5s;
       transform: unset;
    }
.contenido-gral .encabezado .infocontenidodest {
    color: #ffffff;
    margin: 2px auto;
    font-size: 21px;
    font-family:'Chakra Petch', sans-serif; 
    text-align: center;
}
.contenido-gral .footer {
        margin: 2px 1px;    
        box-shadow: none;
        height: auto;
    }
.contenido-gral .footer .contacto {
        text-align: center;
        font-size: 18px;
        padding: 10px;
        transform: none;
        transition: 1.5s;
    }
.contenido-gral .footer .contacto p {
        margin: 1px auto;
    }
.contenido-gral .footer .redes-ig i {
        text-decoration:none;
        margin: 2px auto;
        padding: 2px;
        font-size: 30px;
        text-align: center;
    }

}
/*-------------------------------FIN DE MEDIA QUERIES EN LA PAGINA PRINCIPAL----------------------------*/
 
/*------------------------------------FIN DE PAGINA PRINCIPAL--------------------------------------------*/

/*---------------------PAGINA DE VIDEOCLIPS Y PUBLICIDADES (APLICA PARA TODAS LAS PAGINAS)----------------*/

 /*--------------INICIO DE GRIDS-AREA EN PAGINAS DE VIDEOCLIPS Y PUBLICIDADES-----------------------------*/
 
 .contenido-gral-videos {
     width: 100%;
     background-image:url(../img/thespacio.jpg);
     /* grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(4, auto);
     grid-template-areas: "encabezado encabezado encabezado encabezado"
                          "main main main main"
                          "section section section section"
                          "footer footer footer footer"; */
                       
  }
 
  .contenido-gral-videos h1{
    color: snow;
    text-align: center;
    margin: 10px auto 1px auto ;
    font-weight: bold;
    font-family:'Bebas Neue', cursive;
    font-size: 110px;
    font-style: oblique;
    padding: 1px;
    text-shadow: 6px 3px 12px burlywood; 
    transition: 1.2s;
                  
       }  
 .contenido-gral-videos .encabezado {
      background: #00000000;
 }

 .contenido-gral-videos .encabezado .info {
     color: #ffffff;
     padding: 4px;
     margin: 10px auto;
     font-size: 21px;
     font-family: 'Times New Roman', Times, serif; 
     text-align: center;
 }
 .contenido-gral-videos .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    
 }
 .contenido-gral-videos .main .contdestacado {
   
    grid-column: 2/3;
    grid-row: 1/2;
}
.contenido-gral-videos .main .contdestacado h2{
    color: white;
    text-align: center;
    font-family:'Bebas Neue', cursive;
    font-weight: bold;
    font-style: italic;
    font-size: 80px;
    margin: 1px auto;
    padding: 1px;
    text-shadow: 6px 3px 9px burlywood; 
}
.contenido-gral-videos .main .videoclip-ardiles {
    width: 100% ;
    height: 100%;
    margin: 5px auto;
    text-align: center;
    grid-column: 2/3;
    grid-row: 3/4;
    
}

.contenido-gral-videos .main .videoclip-ardiles h3{
    text-align: center;
    font-family:'Bebas Neue', cursive;
    color: snow;
    font-size: 50px;
    grid-column: 2/3;
    grid-row: 3/4;
}
.contenido-gral-videos .main .videoclip-ardiles iframe{
    grid-column: 2/3;
    grid-row: 3/4;
    width: 100%;
    height: 450px;
}
.contenido-gral-videos .main #carouselExampleDark {
    grid-column: 2/3;
    grid-row: 2/3;
  
}
.contenido-gral-videos .main .hache3 {
    color: snow;
    grid-column: 3/4;
    grid-row: 3/4;
    padding: 5px;
    text-align: center ;
    margin: 90px auto auto auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    transform: scale(1) translate(0px, 1px);
    transition: 1.2s;
    scrollbar-width: 0px;
}

 .contenido-gral-videos .footer{
     background: rgba(0, 0, 0, 0.596);
     grid-area: footer;
     padding: 1px;
     border-width: 1px 0px 0px 0px;
     border-color: grey;
     border-style: ridge;
     opacity: 0.9;
     margin: 2px 1px;
     
 }

 .contenido-gral-videos .footer .contacto .redes-ig a{
     margin: 1px 4px;
     font-size: 35px;
     color: yellow;
     text-shadow: 1px 2px 2px orangered;
     
 }
 .contenido-gral-videos .footer .contacto .redes-ig a i:hover {
    color: orange ;   
    transform: scale(1.2);
    transition: 0.4s;
    text-shadow: 1px 2px 2px orangered;
 }
 /*FIN DE GRIDS-AREA EN PAGINA DE VIDEOCLIPS Y PUBLICIDADES*/
 
/*Inicio de MENU DE NAVEGACION PAGINA DE VIDEOCLIPS Y PUBLICIDADES*/
.contenido-gral-videos  .nav.nav-pills{
    text-align: center;
    justify-content: center;
    font-size: 45px;
    margin: 10px 60px;
    padding: 10px;
    border: 4px;
    border-style:ridge;
    border-color:burlywood;
    border-radius: 5px;
    border-radius: 8px;
    font-family:'Bebas Neue', cursive;
    font-weight: bold;
    box-shadow:1px 2px 6px; color: brown;
   

}
.contenido-gral-videos .nav-pills .nav-link.active {
   color: burlywood;
   background: none;
   font-family: 'Bebas Neue', cursive;
   font-style: oblique;
   text-shadow: 1px 5px 3px maroon;
}
.contenido-gral-videos .nav-pills .nav-link.active:hover {
   color: yellow;
   background: none;
   text-shadow: 1px 4px 2px #daa520;
}
.contenido-gral-videos .nav-item.dropdown .nav-link.dropdown-toggle{
   color: #deb887;
   font-style: oblique;
   text-shadow: 1px 5px 3px #800000;
   
} 
.contenido-gral-videos .nav-item.dropdown .nav-link.dropdown-toggle:hover{
   color: #ffff00;
   text-shadow: 1px 4px 2px #daa520;
} 

.contenido-gral-videos .dropdown-menu {
   background: #000000ef;
   opacity: 1;
   border-radius: 15px;
   transition:0.20s;
  
   
}
.contenido-gral-videos .dropdown-menu .dropdown-item {
   color:yellowgreen;
   font-family:'Bebas Neue', cursive;
   font-size: 25px;
   font-weight: bold;
}

.contenido-gral-videos .dropdown-menu .dropdown-item:hover {
   color:#000000;
}



/*Fin de menu de navegacion de VIDEOCLIPS Y PBLICIDADES*/
 
  /*INICIO DE MEDIA QUERIES EN PAGINA DE VIDEOCLIPS Y PUBLICIDADES*/
  @media screen and (max-width: 768px){
 
    .contenido-gral-videos{
        margin: 1px;      
    }
    .contenido-gral-videos .encabezado {
        grid-area: encabezado;
        align-content: center;
    }
    .contenido-gral-videos .encabezado h1 {
        font-size: 56px;
        margin: 5px 1px;
        display: block;
        transition: none;
        text-align: left;
    }
    .contenido-gral-videos .encabezado .info {
        font-size: 14px;
        margin: 5px auto;
    }
    .contenido-gral-videos  .nav.nav-pills{
        justify-content: center;
        border-style:double;
        border-color:#c0c0c0;
        font-family:'Chakra Petch', sans-serif;
        font-weight: bold;
        box-shadow: none ;
        
   }
   .contenido-gral-videos ul.nav.nav-pills {
       margin: 1px 1px;
       padding: 1px;
       justify-content: center;
       font-size: 24px; 
   }
   .contenido-gral-videos .nav-pills .nav-link.active {
       background: none;
       padding: 1px;
   }
   .contenido-gral-videos .nav-item.dropdown .nav-link.dropdown-toggle{
       padding: 1px;
       font-family: 'Bebas Neue', cursive;
   } 
   .contenido-gral-videos .dropdown-menu .dropdown-item  {
       padding: 1px;
       font-size: 16px;
   } 
   
    .contenido-gral-videos .main {
        grid-area: main;
        margin: 2px auto;
        width: auto;
    }
.contenido-gral-videos #carouselExampleDark img {
    margin: 1px 1px;
    width: 380px;
}
.contenido-gral-videos .main .contdestacado h2 {
    font-size: 46px;
    color:#e0cdcd;
    font-family:'Bebas Neue', cursive;
    margin: 1px auto;
    padding: 1px;
    text-align: center;
}
.contenido-gral-videos .encabezado .infocontenidodest {
    color: #ffffff;
    margin: 2px auto;
    font-size: 24px;
    font-family:'Chakra Petch', sans-serif; 
    text-align: center;
}
.contenido-gral-videos .main #carouselExampleDark .carousel-inner{
    width: 380px;
}
.contenido-gral-videos .main .videoclip-ardiles h3 {
    font-size: 18px;
}
.contenido-gral-videos .main .videoclip-ardiles iframe {
    width: 80%;
    margin: 1px 40px;
}


.contenido-gral-videos .footer {
        font-size: 15px;
        grid-area: footer;
        margin: 2px 1px;
        grid-area: footer;
    }
.contenido-gral-videos .footer .contacto {
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }
.contenido-gral-videos .footer .contacto p {
        margin: 1px auto
    }
.contenido-gral-videos .footer .redes-ig i {
        text-decoration:none;
        color: orange;
        margin: 2px auto;
        padding: 2px;
        font-size: 30px;
        text-align: center;
    }
 
}
 /*------------------FINAL DE MEDIA QUERIES EN PAGINA DE VIDEOCLIPS Y PUBLICIDADES----------------------------*/

 /*-----------------------------FIN DE PAGINA DE VIDEOCLIPS Y PUBLICIDADES--------------------------------------------*/
/* ---------------------------------------------PAGINA DE MERCH------------------------------------------*/
.contenidogral-merch .encabezado h1 {
    grid-row: 2;
    grid-column: 1/5;
   color: snow;
   text-align: center;
   margin: 10px auto 1px auto ;
   font-weight: bold;
   font-family:'Bebas Neue', cursive;
   font-size: 110px;
   font-style: oblique;
   padding: 1px;
   text-shadow: 4px 3px 9px burlywood; 
   transition: 1.2s;
           
}
.contenidogral-merch .info {
    color: #ffffff;
    margin: 1px 2px;
} 
 /*----------------------------Inicio de Menu de navegacion pagina de MERCH------------------------------*/
 .contenidogral-merch  .nav.nav-pills{
    text-align: center;
    background: rgba(0, 0, 0, 0.445);
    justify-content: center;
    font-size: 45px;
    margin: 10px 60px;
    padding: 10px;
    border: 4px;
    border-style:ridge;
    border-color:burlywood;
    border-radius: 5px;
    font-family:'Bebas Neue', cursive;
    font-weight: bold;
    box-shadow:1px 2px 6px; color: brown;
   

}
.contenidogral-merch .nav-pills .nav-link.active {
   color: #deb887;
   background: none;
   font-family: 'Bebas Neue', cursive;
   font-style: oblique;
   text-shadow: 1px 5px 3px maroon;
}
.contenidogral-merch .nav-pills .nav-link.active:hover {
   color: #ffff00;
   background: none;
   text-shadow: 1px 4px 2px goldenrod;
}
.contenidogral-merch .nav-item.dropdown .nav-link.dropdown-toggle{
   color: burlywood;
   font-style: oblique;
   text-shadow: 1px 5px 3px maroon;
   
} 
.contenidogral-merch .nav-item.dropdown .nav-link.dropdown-toggle:hover{
   color: yellow;
   text-shadow: 1px 4px 2px goldenrod;
} 

.contenidogral-merch .dropdown-menu {
   background: #000000ef;
   opacity: 1;
   border-radius: 15px;
   transition:0.20s;
  
   
}
.contenidogral-merch .dropdown-menu .dropdown-item {
   color:greenyellow;
   font-family:'Bebas Neue', cursive;
   font-size: 25px;
   font-weight: bold;
}

.contenidogral-merch .dropdown-menu .dropdown-item:hover {
   color:#000000;
}
 /*-----------------Aca finaliza el estilo de menu de navegacion-------------------------*/
 
 /*----------------------------------Inicio del  MERCHANDISING---------------------------*/
 .contenidogral-merch .encabezado .info {
     margin: 10px auto 1px auto;
     font-family: 'Bebas Neue', cursive;
     font-size: 110px;
     color: white;
     font-weight: bold;
     font-style: oblique;
     text-align: center;
     text-shadow: 6px 3px 9px burlywood;
     transition: 1.2s;
 }
 .contenidogral-merch .section{
     display: grid;
     
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(2, 1fr);
     
 }
 /*------------------------INICIO DE PRIMERA CARD----------------*/
 .contenidogral-merch .section .card1 {
     grid-column: 1/2;
     grid-row: 1;
     color: snow;
     height: 500px;
     font-family: 'Bebas Neue', cursive;
     font-size: 21px;
     border-radius: 12px;
     margin: 5px auto;
 }
 .contenidogral-merch .section .card1 img {
     border-radius: 55px;
     margin: 5px auto;
     box-shadow: 1px 1px 10px 2px grey;
 }
 .contenidogral-merch .section .card1 img:hover {
     border-radius: 55px;
     margin: 5px auto;
     box-shadow: 1px 1px 10px 2px snow;
     transform: scale(1.5);
     transition: 1s;
 }

 .contenidogral-merch .section .card1 .card-body {
     border-radius: 15px;
     background: #00000098;

 }
 .contenidogral-merch .section .card1 a {
     background: burlywood;
     color: black;
     border: none;
     font-size: 20px;
 }
 /*----------------FIN DE PRIMERA CARD---------------------*/
 /*------------------INICIO DE SEGUNDA CARD---------------------*/
 .contenidogral-merch .section .card2 {
     grid-column: 2/3;
     grid-row: 1;
     color: #fffafa;
     height: 500px;
     font-family: 'Bebas Neue', cursive;
     font-size: 21px;
     border-radius: 15px;
     margin: 5px auto;
 }
 .contenidogral-merch .section .card2 img {
     border-radius: 55px;
     margin: 5px auto;
     box-shadow: 1px 1px 10px 2px #808080;
 }
 .contenidogral-merch .section .card2 img:hover {
     border-radius: 55px;
     margin: 5px auto;
     box-shadow: 1px 1px 10px 2px #fffafa;
     transform: scale(1.5);
     transition: 1s;
 }

 .contenidogral-merch .section .card2 .card-body {
     border-radius: 15px;
     background: #00000098;

 }
 .contenidogral-merch .section .card2 a {
     background: burlywood;
     color: black;
     border: none;
     font-size: 20px;
 }
 /*---------------------FIN DE SEGUNDA CARD-----------------------------*/
 /*----------------INICIO DE TERCERA CARD---------------------------*/
 .contenidogral-merch .section .card3 {
     grid-column: 3/4;
     grid-row: 1;
     color: snow;
     height: 500px;
     font-family: 'Bebas Neue', cursive;
     font-size: 21px;
     border-radius: 15px;
     margin: 10px auto;
 }
 .contenidogral-merch .section .card3 img {
     border-radius: 55px;
     margin: 5px auto;
     box-shadow: 1px 1px 10px 2px #808080;
 }
 .contenidogral-merch .section .card3 img:hover {
     border-radius: 55px;
     margin: 5px auto;
     box-shadow: 1px 1px 10px 2px snow;
     transform: scale(1.5);
     transition: 1s;
 }

 .contenidogral-merch .section .card3 .card-body {
     border-radius: 15px;
     background:#00000098;

 }
 .contenidogral-merch .section .card3 a {
     background: burlywood;
     color: black;
     border: none;
     font-size: 20px;
 }
 /*---------------------FIN DE TERCER CARD-----------------*/
 /*------------------------INICIO DE CUARTA CARD------------------*/
 .contenidogral-merch .section .card4 {
     grid-column: 1/2;
     grid-row: 2;
     color: snow;
     height: auto;
     font-family: 'Bebas Neue', cursive;
     font-size: 21px;
     border-radius: 15px;
     margin: 5px auto;
 }
 .contenidogral-merch .section .card4 img {
     border-radius: 55px;
     margin: 5px auto;
     box-shadow: 1px 1px 10px 2px #808080;
 }
 .contenidogral-merch .section .card4 img:hover {
     border-radius: 55px;
     margin: 5px auto;
     box-shadow: 1px 1px 10px 2px snow;
     transform: scale(1.5);
     transition: 1s;
 }

 .contenidogral-merch .section .card4 .card-body {
     border-radius: 15px;
     background: #00000098;

 }
 .contenidogral-merch .section .card4 a {
     background: burlywood;
     color: black;
     border: none;
     font-size: 20px;
 }
/*--------------------FIN DE CUARTA CARD---------------------------*/
 /*------------------------INICIO DE QUINTA CARD------------------*/
 .contenidogral-merch .section .card5 {
    grid-column: 2/3;
    grid-row: 2;
    color: #fffafa;
    height: 500px;
    font-family: 'Bebas Neue', cursive;
    font-size: 21px;
    border-radius: 15px;
    margin: 5px auto;
}
.contenidogral-merch .section .card5 img {
    border-radius: 55px;
    margin: 5px auto;
    box-shadow: 1px 1px 10px 2px #808080;
}
.contenidogral-merch .section .card5 img:hover {
    border-radius: 55px;
    margin: 5px auto;
    box-shadow: 1px 1px 10px 2px #fffafa;
     transform: scale(1.5);
     transition: 1s;
}

.contenidogral-merch .section .card5 .card-body {
    border-radius: 15px;
    background: #00000098;

}
.contenidogral-merch .section .card5 a {
    background: burlywood;
    color: black;
    border: none;
    font-size: 20px;
}
/*--------------------FIN DE QUINTA CARD---------------------------*/
 /*------------------------INICIO DE SEXTA CARD------------------*/
 .contenidogral-merch .section .card6 {
    grid-column: 3/4;
    grid-row: 2;
    color: #fffafa;
    height: auto;
    font-family: 'Bebas Neue', cursive;
    font-size: 21px;
    border-radius: 15px;
    margin: 5px auto;
}
.contenidogral-merch .section .card6 img {
    border-radius: 55px;
    margin: 5px auto;
    box-shadow: 1px 1px 10px 2px #808080;
}
.contenidogral-merch .section .card6 img:hover {
    border-radius: 55px;
    margin: 5px auto;
    box-shadow: 1px 1px 10px 2px #fffafa;
     transform: scale(1.5);
     transition: 1s;
}

.contenidogral-merch .section .card6 .card-body {
    border-radius: 15px;
    background: #00000098;
    
}
.contenidogral-merch .section .card6 a {
    background: burlywood;
    color: black;
    border: none;
    font-size: 20px;
}
/*--------------------FIN DE SEXTA CARD---------------------------*/
.contenidogral-merch .footer {
    background:rgba(0, 0, 0, 0.596);
    padding: 1px;    
    border-width: 1px 0px 0px 0px;
    border-color: grey;
    border-style:ridge ;
    box-shadow: 9px 8px 3px white;
}
 .contenidogral-merch .footer .redes-ig {
    font-size: 38px;
    padding: 4px;   
    opacity: 1;
    width: auto;
}
.contenidogral-merch .footer .contacto .redes-ig a{
    margin: 1px 4px;
    font-size: 38px;
    color: yellow; 
    text-align: center;   
    text-shadow: 1px 2px 2px orangered; 
}
.contenidogral-merch .footer .contacto .redes-ig a i:hover {
    color: orange ;   
    transform: scale(1.2);
    transition: 0.4s;
    text-shadow: 1px 2px 2px orangered;
}
  /*--------------------------------------Fin del merchandising-------------------------------*/
 /*-------------------------------Inicio de MEDIA QUERYS en MERCH------------------------------*/
 @media screen and (max-width: 768px) {
     .contenidogral-merch .encabezado h1 {
           font-size: 60px;
           text-align: left;
       }
       .contenidogral-merch .encabezado h1 {
        font-size: 56px;
        margin: 5px 1px;
        display: block;
        transition: none;
        text-align: left;
    }
     .contenidogral-merch .encabezado .info {
         font-size: 48px;
         text-shadow: 1px 2px 2px silver;
     }

     .contenidogral-merch .section  {
         display: block;
     }
     .contenidogral-merch .section .card6 {
         margin: 40px auto auto auto;
     }

     .contenidogral-merch  .nav.nav-pills{
         background: none;
        justify-content: center;
        border-style:double;
        border-color:#c0c0c0;
        font-family:'Chakra Petch', sans-serif;
        font-weight: bold;
   }
   .contenidogral-merch ul.nav.nav-pills {
       margin: 1px 1px;
       padding: 1px;
       justify-content: center;
       font-size: 24px; 
   }
   .contenidogral-merch .nav-pills .nav-link.active {
       background: none;
       padding: 2px;
   }
   .contenidogral-merch .nav-item.dropdown .nav-link.dropdown-toggle{
       padding: 2px;
       font-family: 'Bebas Neue', cursive;
   } 
   .contenidogral-merch .dropdown-menu .dropdown-item  {
       padding: 2px;
       font-size: 16px;
   }
   .contenidogral-merch .section .card2 img {
    margin: 0px auto;
   padding: 2px;
   }
 
    .contenidogral-merch .footer .contacto .redes-ig a{
         margin: 1px 4px;
         font-size: 28px;
         color: orange;  
     }
     
     .contenidogral-merch .footer .contacto .redes-ig a i:hover {
          color: #adff2f;
     }
     .contenidogral-merch .footer{
        border-width: 1px 0px 0px 0px;
        border-color: white;
        border-style:groove;
    }
 }
 /*-----------------------------------Fin de MEDIA QUERYS en MERCH-------------------------------*/

 /*--------------------------------INICIO DE PAGINA DE CONTACTO-------------------*/
 .contenidogral-form h1 {
    color: white;
    text-align: center;
    margin: 10px auto 1px auto ;
    font-weight: bold;
    font-family:'Bebas Neue', cursive;
    font-size: 110px;
    font-style: oblique;
    padding: 1px;
    text-shadow: 4px 3px 9px burlywood; 
    transition: 1.2s;
}

.contenidogral-form  .contdestacado h2{
    font-size: 100px;
   color:white;
   font-style:italic;
   font-weight: bold;
   font-family:'Bebas Neue', cursive;
   margin: 1px auto;
   padding: 1px;
   text-align: center;
   text-shadow: 6px 3px 9px burlywood;
   transform:rotateX(360deg) translate(0px, 1px);
   transition: 1.6s;
}
/*-------------------------Inicio de MENU DE NAVEGACION de contacto-----------------*/
.contenidogral-form  .nav.nav-pills{
    text-align: center;
    background: rgba(0, 0, 0, 0.445);
    justify-content: center;
    font-size: 45px;
    margin: 10px 60px;
    padding: 10px;
    border: 4px;
    border-style:ridge;
    border-color: burlywood;
    border-radius: 5px;
    font-family:'Bebas Neue', cursive;
    font-weight: bold;
    box-shadow: 1px 2px 6px; color: brown;
    
}
.contenidogral-form .nav-pills .nav-link.active {
    color: #deb887;
    background: none;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 1px 5px 5px maroon;
    font-style: italic;
}
.contenidogral-form .nav-pills .nav-link.active:hover {
    color: #ffff00;
    background: none;
    text-shadow: 1px 4px 2px goldenrod;
}
.contenidogral-form .nav-item.dropdown .nav-link.dropdown-toggle{
    color: burlywood;
    text-shadow: 1px 5px 5px maroon;
    font-style: italic;
   
} 
.contenidogral-form .nav-item.dropdown .nav-link.dropdown-toggle:hover{
    color: yellow;
     text-shadow: 1px 4px 2px goldenrod;
} 

.contenidogral-form .dropdown-menu {
    background: #000000ef;
    opacity: 1;
    border-radius: 15px;
    transition:0.20s;   
}
.contenidogral-form .dropdown-menu .dropdown-item {
    color: greenyellow ;
    font-family:'Bebas Neue', cursive;
    font-size: 25px;
    font-weight: bold;
}
.contenidogral-form .dropdown-menu .dropdown-item:hover {
    color:#000000;
}
.contenidogral-form .footer {
    border-width: 1px 0px 0px 0px;
    border-color: snow;
    border-style: groove;
    margin: 1px auto;
}
.contenidogral-form .footer .redes-ig {
    font-size: 33px;
    padding: 4px;
}

.contenidogral-form .footer .contacto .redes-ig a i {
     color: yellow ;   
    transform: scale(1.2);
    transition: 0.4s;
    text-shadow: 1px 2px 2px orangered;
}
.contenidogral-form .footer .contacto .redes-ig a i:hover {
     color: orange ;   
    transform: scale(1.2);
    transition: 0.4s;
    text-shadow: 1px 2px 2px orangered;
}
 /*-----------------------FIN DE MENU DE NAVEGACION DE CONTACTO-------------------------*/
/*-------------------------INICIO DE SECTION EN PAGINA DE CONTACTO---------------------*/
 .contenidogral-form .section {
    text-align: left;
}

.contenidogral-form .section .form-group  {
    color: white;
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    width: auto;
    margin: 10px 200px;
}
.contenidogral-form .section button {
    background: orange;
    border: none;
    font-size: 16px;
    font-weight: bold;
    width: auto;
    margin: 5px 200px;
    color: black;
}
.contenidogral-form .footer{
    background:rgba(0, 0, 0, 0.596);
    padding: 1px;    
    border-width: 1px 0px 0px 0px;
    border-color: grey;
    border-style:ridge ;
   
}  
.contenidogral-form .footer .contacto .redes-ig a{
    margin: 1px 4px;
    font-size: 38px;
    color: orange; 
    text-align: center;   
    text-shadow: 1px 2px 2px orangered;
    
}




 /*--------------------------FIN DE SECTION DE CONTACTO--------------------------------*/
 
 /*--------------------------INICIO DE MEDIA QUERYS EN CONTACTO--------------------------*/
 @media screen and (max-width: 768px) {
    .contenidogral-form .encabezado h1 {
        font-size: 56px;
        margin: 5px 1px;
        display: block;
        transition: none;
        text-align: left;
    }
    .contenidogral-form  .nav.nav-pills{
        justify-content: center;
        border-style:double;
        border-color:#c0c0c0;
        font-family:'Chakra Petch', sans-serif;
        font-weight: bold;
   }
   .contenidogral-form ul.nav.nav-pills {
       margin: 1px 1px;
       padding: 1px;
       justify-content: center;
       font-size: 24px; 
   }
   .contenidogral-form .nav-pills .nav-link.active {
       background: none;
       padding: 2px;
   }
   .contenidogral-form .nav-item.dropdown .nav-link.dropdown-toggle{
       padding: 2px;
       font-family: 'Bebas Neue', cursive;
   } 
   .contenidogral-form .dropdown-menu .dropdown-item  {
       padding: 2px;
       font-size: 16px;
   }
    .contenidogral-form .contdestacado h2 {
        font-size: 50px;
        margin: 10px auto;
    }

     .contenidogral-form .footer .redes-ig i {
        text-decoration:none;
        color: orange;
        margin: 2px auto;
        padding: 2px;
        font-size: 30px;
        text-align: center;
    }

    .contenidogral-form .section .form-group  {
        color: white;
        font-size: 24px;
        font-family: 'Bebas Neue', cursive;
        width: auto;
        margin: 10px 50px;
    }
    .contenidogral-form .section button {
        background: orange;
        border: none;
        font-size: 16px;
        font-weight: bold;
        width: auto;
        margin: 10px 50px;
        color: black;
    }
    .contenidogral-form .footer{
        border-width: 1px 0px 0px 0px;
        border-color: white;
        border-style:groove;
    }

    }
  
    
 /*---------------------------FIN DE MEDIA QUERYS EN CONTACTO-----------------------------*/

  




