*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 /*------------------------INICIO DE PAGINA PRINCIPAL - INDEX---------------------------*/

 /*------------------------Inicio de encabezado de PAGINA PRINCIPAL---------------------------------------*/
 body {
      
      width: auto;
      background-color: black;
 }

 .contenido-gral .encabezado .musicales{
     display: grid;
     grid-template-columns: 200px auto auto 260px;
     grid-row: repeat(2, 1fr);
 }
 .contenido-gral .encabezado {
        background: #00000000;
        padding: 2px;
        border-radius: 1px;
        padding: 1px;
        border-radius: 20px;
        margin: 1px auto;
   
 }
/* .contenido-gral .encabezado img {
    width: 140px;
    margin: 10px 0px 18px 10px;
    text-align: center;
    transform: rotate(360deg);
    transition: 1s;
    grid-row: 2;

} */
 .contenido-gral .encabezado h1 {
     grid-row: 2;
     grid-column: 1/5;
    color: snow;
    text-align: center;
    margin: 10px auto 1px auto ;
    font-weight: bold;
    font-family:'Bebas Neue', cursive;
    font-size: 110px;
    font-style: oblique;
    padding: 1px;
    text-shadow: 6px 3px 12px #DCDCDC; 
    transition: 1.2s;
            
}

.contenido-gral .encabezado .musicales a {
    color: springgreen;
    font-family: 'Rubik Puddles', cursive;
    text-decoration: none;
    font-size: 20px;
}
.contenido-gral .encabezado .musicales a span:hover {
    color: fuchsia;
   
}

 .contenido-gral .encabezado .contdestacado h2 {
    font-size: 90px;
    color:snow;
    font-style:italic;
    font-weight: bold;
    font-family:'Bebas Neue', cursive;
    margin: 1px auto;
    padding: 1px;
    text-align: center;
    text-shadow: 4px 7px 0px springgreen;
    transform:rotateX(360deg) translate(0px, 1px);
    transition: 1.6s;
    
}

/*---------------------------------Fin de encabezado de PAGINA PRINCIPAL - INDEX-------------------------*/
 /*----------------------------------- Inicio de INFO sobre la pagina principal--------------------------*/ 
 .contenido-gral .info p {
    font-size: 16px;
    color: snow;
    font-family: 'Chakra Petch', sans-serif;
    text-align: left;
    margin: 1px 10px;
    padding: 1px;
}
/*-------------------------------- Fin de INFO sobre la pagina principal----------------------------------*/

 /*-------------------------------------Fin de encabezado de PAGINA PRINCIPAL-----------------------------*/
 
 /*--------------------------INICIO DE MENU DE NAVEGACION DE PAGINA PRINCIPAL - INDEX---------------------*/
 .contenido-gral  .nav.nav-pills{
      text-align: center;
      justify-content: center;
      font-size: 45px;
      margin: 10px 10px;
      padding: 10px;
      border: 4px;
      border-style:groove;
      border-color:#DCDCDC;
      border-radius: 5px;
      border-radius: 8px;
      font-family:'Bebas Neue', cursive;
      font-weight: bold;
      box-shadow:1px 4px 10px; color: silver;
     
 
 }
 .contenido-gral .nav-pills .nav-link.active {
     color: #00ff80;
     background: none;
     font-family: 'Bebas Neue', cursive;
     font-style: oblique;
     text-shadow: 1px 5px 3px green;
 }
 .contenido-gral .nav-pills .nav-link.active:hover {
     color: #fafa78;
     background: none;
     text-shadow: 1px 4px 2px #ffff0077;
 }
 .contenido-gral .nav-item.dropdown .nav-link.dropdown-toggle{
     color: #00ff7f;
     font-style: oblique;
     text-shadow: 1px 5px 3px green;
     
 } 
 .contenido-gral .nav-item.dropdown .nav-link.dropdown-toggle:hover{
     color: #fafa78;
     text-shadow: 1px 4px 2px #ffff0077;
 } 
 
 .contenido-gral .dropdown-menu {
     background: #000000;
     opacity: 1;
     border-radius: 15px;
     transition:0.20s;
    
     
 }
 .contenido-gral .dropdown-menu .dropdown-item {
     color:#98fb98;
     font-family:'Bebas Neue', cursive;
     font-size: 25px;
     font-weight: bold;
 }

 .contenido-gral .dropdown-menu .dropdown-item:hover {
     color:#000000;
 }
 /*---------------------------FIN DE MENU DE NAVEGACION de PAGINA PRINCIPAL - INDEX----------------------*/
/*-------------------------------INICIO de MAIN de PAGINA PRINCIPAL--------------------------------------*/
.contenido-gral .main {
    display: grid;
     /* background-image: url(../img/agujita.jpg);  */
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 500px;
}
.contenido-gral .main .spotify {
    text-align: center;
    width: 100%;
    grid-column: 1;
    
}

.contenido-gral .main .spotify iframe {
    box-shadow: 0 1px 14px; color: seashell;
    margin: 15px auto;

}
.contenido-gral .main .hache3 {
    width: fit-content;
    margin: 2px auto;
}
.contenido-gral .main .hache3 p{
    font-size: 70px;
    color:#ffffff;
    font-family:'Bebas Neue', cursive;
    text-shadow: 4px 5px 1px #00ff00;
    text-align: center;
    transform: scale(1) translate(0px, 1px);
    transition: 1.6s;
}
.contenido-gral .main .hache3:hover {
    transform: rotateY(360deg);
    transition: 1.9s;
}
.contenido-gral .main img {
    width: 70px;
}
 /*---------------------------Inicio carousel imagenes en Pagina Principal-------------------------------*/
 
 #carouselExampleDark .carousel-inner {
     width: 750px;
     overflow: hidden; 
     margin: 15px auto;
     border-radius: 8px;
     box-shadow: 0 2px 10px; color: grey;     
 }
 #carouselExampleDark .carousel-inner:hover {
     overflow: hidden;
     /* box-shadow: 1px 1px 4px 5px; color: springgreen; */
     transform: scale(1.1);
     transition: 0.5s;
 }
.carousel-caption .d-none .d-md-block{
    width: 100%;
}
 .encabezado .infocontenidodest h2 {
     color: #ffffff;
     margin: 2px auto;
     font-size: 25px;
     font-family:'Chakra Petch', sans-serif; 
     text-align: center;
 }
 #carouselExampleDark .carousel-inner .carousel-item h5 {
    color: #00ff7f;
    font-size: 60px;
    font-family:'Bebas Neue', cursive;
    text-shadow: 3px 2px 1px black;
    font-style: italic;
 }
 #carouselExampleDark .carousel-inner .carousel-item a {
    color: #00ff7f;
    font-size: 60px;
    font-family:'Bebas Neue', cursive;
    text-shadow: 3px 2px 1px black;
    font-style: italic;
    text-decoration: none;
 }
 
 #carouselExampleDark .carousel-inner .carousel-item p {
     color: white ;
     font-size: 28px;
     font-weight: bold; 
     font-style: oblique;
     margin: 1px auto;
     font-family: 'Bebas Neue', cursive;
     text-shadow: 3px 14px 10px black;
  }


 /*-------------------------------Fin de CAROUSEL DE IMAGENES de PAGINA PRINCIPAL-------------------------*/
/*------------------------------------INICIO de FOOTER de PAGINA PRINCIPAL------------------------------*/
 .contenido-gral .footer{
     background:black;
     padding: 1px;
     border: snow;
     border-width: 1px 0px 0px 0px;  
     border-style:groove;
     
     box-shadow: 1px 4px 20px; color: snow;
 }  
 .contenido-gral .footer .redes-ig {
    font-size: 33px;
    padding: 4px;
}
.contenido-gral .footer .contacto .redes-ig a{
    margin: 1px 4px;
    font-size: 35px;
    color: #00ff7f;   
}
.contenido-gral .footer .contacto .redes-ig a:hover{
    color: yellow ;   
}

 /*--------------------------------FIN de FOOTER de PAGINA PRINCIPAL-------------------------------------*/
  
 /*------------------Inicio de info de contacto APLICA A TODAS LAS PAGINAS-------------------------------*/
 .contacto {
     text-align: center;
     color: #ffffff;
     line-height: 1,6;
     margin: 1px auto;
     padding: 10px;
     font-size: 18px;
     grid-area: footer;
 
 }
 .contacto a {
     font-family: 'Chakra Petch', sans-serif;
     font-size: 22px;
     font-weight: bold;
 }
 .contacto p {
     margin: 1px auto;
     font-family: 'Chakra Petch', sans-serif;
 }
 .contacto .codbarra {
     font-size: 42px;
     font-family:'Libre Barcode 39 Text', cursive;
     padding: 1px;
     color: snow;
 }
 /*-----------------------------------------Fin de info de contactos------------------------------------*/
  /*---------------------------INICIO DE MEDIA QUERIES EN LA PAGINA PRINCIPAL----------------------------*/
  @media screen and (max-width: 768px){
    .contenido-gral{
        margin: 1px;
    }
    .contenido-gral .encabezado .musicales {
        width: auto;
        display: grid;
        grid-column: repeat(2, 1fr);
        grid-row: repeat(2, auto);
       
    }
    /* .contenido-gral .encabezado img {
        width: 0px;
    
    } */
    .contenido-gral .encabezado h1 {
        font-size: 56px;
        margin: 5px 1px;
        grid-column: 1/5;
        grid-row: 1;
        transition: none;
        text-align: left;
    }
    .contenido-gral .encabezado p {
        font-size: 10px;
        text-align: center;
    }
    .contenido-gral .encabezado .musicales a {
        font-size: 12px;
        grid-row: 1/2;
        grid-column: 2;
       
    }
    .contenido-gral .encabezado .info {
        font-size: 14px;
        margin: 5px auto;
    }
    .contenido-gral  .nav.nav-pills{
        justify-content: center;
        border-style:double;
        border-color:#c0c0c0;
        font-family:'Chakra Petch', sans-serif;
        font-weight: bold;
   }
   .contenido-gral ul.nav.nav-pills {
       margin: 1px 1px;
       padding: 1px;
       justify-content: center;
       font-size: 24px; 
   }
   .contenido-gral .nav-pills .nav-link.active {
       background: none;
       padding: 2px;
   }
   .contenido-gral .nav-item.dropdown .nav-link.dropdown-toggle{
       padding: 2px;
       font-family: 'Bebas Neue', cursive;
   } 
   .contenido-gral .dropdown-menu .dropdown-item  {
       padding: 2px;
       font-size: 16px;
   }
    .contenido-gral .encabezado .menu {
        margin: 1px auto;
        padding: 1px;
        line-height: 1.2;
        text-align: center;
        width: auto;
    }
    .contenido-gral .encabezado .menu ul li a{
        font-size: 21px;
    }
    .contenido-gral-videos .encabezado .menu ul {
        font-size: 26px;
        line-height: 1,2;
    }
    .contenido-gral .main {
        display: grid;
        margin: 2px auto;
        width: auto;
        grid-template-columns: 420px;
        grid-template-rows:250px 200px 50px ;
    }
    .contenido-gral .main .spotify {
        grid-row: 2/3;
        /* width: 100%;    */
    }
    .contenido-gral .main .spotify iframe {
        height: 180px;
        width: 300px;
        margin: 2px auto;
    }
    #carouselExampleDark .carousel-inner {
        width: 380px;
        box-shadow: none;
        padding: 1px;
        /* border-radius: 1px; */
        /* box-shadow: 0 1px 6px; color: grey; */
    }
    .carousel-indicators {
        width: 380px;
    }
    .contenido-gral .main .carousel-item.active  {
        width: 380px;
        margin: 1px 1px;
        grid-row: 1/2;
        
    }
    .contenido-gral .main .hache3{
        text-align: center;
    }
    .contenido-gral .main .hache3 p{
        font-size: 28px;
        grid-row: 3/4;
        display: inline;        
    }
.contenido-gral #carouselExampleDark {
    margin: 1px 1px;
}
.contenido-gral .encabezado .contdestacado h2 {
    font-size: 45px;
    color:#e0cdcd;
    font-family:'Bebas Neue', cursive;
    margin: 1px auto;
    padding: 1px;
    text-align: center;
}
.contenido-gral .encabezado .infocontenidodest {
    color: #ffffff;
    margin: 2px auto;
    font-size: 21px;
    font-family:'Chakra Petch', sans-serif; 
    text-align: center;
}
.contenido-gral .footer {
        font-size: 15px;
        margin: 2px 1px;    
        box-shadow: none;
    }
.contenido-gral .footer .contacto {
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }
.contenido-gral .footer .contacto p {
        margin: 1px auto
    }
.contenido-gral .footer .redes-ig i {
        text-decoration:none;
        color: #00ff7f;
        margin: 2px auto;
        padding: 2px;
        font-size: 30px;
        text-align: center;
    }
 /* .contenido-gral .footer .owner .by {
     font-size: 18px;
 } */
}
/*-------------------------------FIN DE MEDIA QUERIES EN LA PAGINA PRINCIPAL----------------------------*/
 
/*------------------------------------FIN DE PAGINA PRINCIPAL--------------------------------------------*/

/*---------------------PAGINA DE VIDEOCLIPS Y PUBLICIDADES (APLICA PARA TODAS LAS PAGINAS)----------------*/

 /*--------------INICIO DE GRIDS-AREA EN PAGINAS DE VIDEOCLIPS Y PUBLICIDADES-----------------------------*/
 
 .contenido-gral-videos {
    
     display: grid;
     width: 100%;
     background-image:url(../img/thespacio.jpg);
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: repeat(4, auto);
     grid-template-areas: "encabezado encabezado encabezado encabezado"
                          "main main main main"
                          "section section section section"
                          "footer footer footer footer";
                       
  }
 
  .contenido-gral-videos h1{
        color: snow;
        text-align: left;
        margin: 2px ;
        font-weight: bold;
        font-family:'Bebas Neue', cursive;
        font-size: 110px;
        padding: 10px;
        text-shadow: 4px 4px 0px darkslategray; 
                  
       }  
 .contenido-gral-videos .encabezado {
      background: #00000000;
      grid-area: encabezado;
 
 }
 .contenido-gral-videos .encabezado h2 {
     color: snow;
      text-align: center;
      font-family:'Bebas Neue', cursive;
      font-weight: bold;
      font-style: italic;
      font-size: 80px;
      margin: 1px auto;
      padding: 1px;
      text-shadow: 4px 7px 0px springgreen; 
      
 }
 .contenido-gral-videos .encabezado .info {
     color: #ffffff;
     padding: 4px;
     margin: 2px auto 10px 10px;
     font-size: 23px;
     font-family: 'Chakra Petch', sans-serif; 
     text-align: center;
 }
 .contenido-gral-videos .main {
     background: none; 
     grid-area: main;
     width: 760px;
     opacity: 0.9;
     grid-column: 2/4;
     grid-row: 2/4;
     border-radius: 18px;
     padding: 10px;
     font-size: 25px;
     margin: 1px auto;
    
 }
 .contenido-gral-videos .section {
     display: grid;
     grid-area: section;
     width: auto;
     padding: 1px;
     margin: 1px auto; 
     grid-column:4;
     grid-row: 3/4;      
 }
 .contenido-gral-videos .footer{
     background: none;
     grid-area: footer;
     padding: 1px;
     opacity: 0.9;
     margin: 2px 1px;
     border: 1px;
     border-color: snow;
     border-width: 1px 0px 0px 0px;
     border-style:groove ;
     
 }

 .contenido-gral-videos .footer .contacto .redes-ig a{
     margin: 1px 4px;
     font-size: 35px;
     color: springgreen;
     
 }
 .contenido-gral-videos .footer .contacto .redes-ig a i:hover {
      color: greenyellow;
 }
 /*FIN DE GRIDS-AREA EN PAGINA DE VIDEOCLIPS Y PUBLICIDADES*/
 
/*Inicio de MENU DE NAVEGACION PAGINA DE VIDEOCLIPS Y PUBLICIDADES*/
.contenido-gral-videos  .nav.nav-pills{
    text-align: center;
    justify-content: center;
    font-size: 45px;
    margin: 5px 10px;
    padding: 10px;
    border: 5px;
    border-style:double;
    border-color:#DCDCDC;
    font-family:'Bebas Neue', cursive;
    font-weight: bold;
}
.contenido-gral-videos .nav-pills .nav-link.active {
   color: #00ff7f;
   background: none;
   font-family: 'Bebas Neue', cursive;
   font-style: oblique;
}
.contenido-gral-videos .nav-pills .nav-link.active:hover {
   color: yellow;
   background: none;
}
.contenido-gral-videos .nav-item.dropdown .nav-link.dropdown-toggle{
   color: #00ff7f;
   font-style: oblique;
} 
.contenido-gral-videos .nav-item.dropdown .nav-link.dropdown-toggle:hover{
   color: yellow;
} 

.contenido-gral-videos .dropdown-menu {
   background: #000000;
   opacity: 1;
   border-radius: 15px;   
}
.contenido-gral-videos .dropdown-menu .dropdown-item {
   color:#98fb98;
   font-family:'Bebas Neue', cursive;
   font-size: 25px;
   font-weight: bold;
}

.contenido-gral-videos .main .videoclip-ardiles iframe{
    width: 740px;
    height: 450px;
}
.contenido-gral-videos .main .videoclip-ardiles h3{
    text-align: center;
    font-family:'Bebas Neue', cursive;
    color: #DCDCDC;
    font-size: 50px;
}

/*Fin de menu de navegacion de VIDEOCLIPS Y PBLICIDADES*/
 
  /*INICIO DE MEDIA QUERIES EN PAGINA DE VIDEOCLIPS Y PUBLICIDADES*/
  @media screen and (max-width: 768px){
 
    .contenido-gral-videos{
        margin: 1px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "encabezado encabezado encabezado encabezado"
        "main main main main"
        "section section section section"
        "footer footer footer footer";
    }
    .contenido-gral-videos .encabezado {
        grid-area: encabezado;
        align-content: center;
    }
    .contenido-gral-videos .encabezado h1 {
        font-size: 50px;
        margin: 5px auto;  
    }
    .contenido-gral-videos .encabezado .info {
        font-size: 24px;
        margin: 5px auto;
    }
    .contenido-gral-videos  .nav.nav-pills{
        justify-content: center;
        border-style:double;
        border-color:#c0c0c0;
        font-family:'Chakra Petch', sans-serif;
        font-weight: bold;
   }
   .contenido-gral-videos ul.nav.nav-pills {
       margin: 1px 1px;
       padding: 1px;
       justify-content: center;
       font-size: 34px;
   }
   .contenido-gral-videos .nav-pills .nav-link.active {
       background: none;
       padding: 2px;
   }
   .contenido-gral-videos .nav-item.dropdown .nav-link.dropdown-toggle{
       padding: 2px;
       font-size: 34px;
       font-family:'Bebas Neue', cursive;
   } 
   .contenido-gral-videos-videos .nav.item  {
       padding: 2px;
   }
    .contenido-gral-videos .encabezado .menu {
        margin: 1px auto;
        padding: 1px;
        line-height: 1.2;
        text-align: center;
        width: auto;   
    }
    .contenido-gral-videos .encabezado .menu ul li a{
        font-size: 21px;
    }

    .contenido-gral .main {
        grid-area: main;
        margin: 2px auto;
        width: 400px;
    }
.contenido-gral #carouselExampleDark {
    margin: 1px 1px;
}
.contenido-gral .encabezado .contdestacado h2 {
    font-size: 45px;
    color:#e0cdcd;
    font-family:'Bebas Neue', cursive;
    margin: 1px auto;
    padding: 1px;
    text-align: center;
}
.contenido-gral .encabezado .infocontenidodest {
    color: #ffffff;
    margin: 2px auto;
    font-size: 21px;
    font-family:'Chakra Petch', sans-serif; 
    text-align: center;
}
.contenido-gral .footer {
        font-size: 15px;
        grid-area: footer;
        margin: 2px 1px;
        grid-area: footer;
    }
.contenido-gral .footer .contacto {
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }
.contenido-gral .footer .contacto p {
        margin: 1px auto
    }
.contenido-gral .footer .redes-ig i {
        text-decoration:none;
        color: #00ff7f;
        margin: 2px auto;
        padding: 2px;
        font-size: 30px;
        text-align: center;
    }
 .contenido-gral .section {
      grid-area: section;
 }
}
 /*------------------FINAL DE MEDIA QUERIES EN PAGINA DE VIDEOCLIPS Y PUBLICIDADES----------------------------*/

 /*-----------------------------FIN DE PAGINA DE VIDEOCLIPS Y PUBLICIDADES--------------------------------------------*/
/* ---------------------------------------------PAGINA DE MERCH------------------------------------------*/
.contenidogral-merch h1 {
    color: #fffafa;
    text-align: left;
    margin: 2px ;
    font-weight: bold;
    font-family:'Bebas Neue', cursive;
    font-size: 110px;
    padding: 10px;
    text-shadow: 4px 4px 0px darkslategray; 
    
    
}
.contenidogral-merch .info {
    color: #ffffff;
    margin: 1px 2px;
} 
 /*----------------------------Inicio de Menu de navegacion pagina de MERCH------------------------------*/
 .contenidogral-merch  .nav.nav-pills{
    text-align: center;
    justify-content: center;
    font-size: 45px;
    margin: 5px 10px;
    padding: 10px;
    border: 5px;
    border-style:double;
    border-color:#DCDCDC;
    font-family:'Bebas Neue', cursive;
    font-weight: bold;
    

}
.contenidogral-merch .nav-pills .nav-link.active {
   color: #00ff7f;
   background: none;
   font-family: 'Bebas Neue', cursive;
   font-style: oblique;
}
.contenidogral-merch .nav-pills .nav-link.active:hover {
   color: #00ffff;
   background: none;
}
.contenidogral-merch .nav-item.dropdown .nav-link.dropdown-toggle{
   color: #00ff7f;
   font-style: oblique;
   
} 
.contenidogral-merch .nav-item.dropdown .nav-link.dropdown-toggle:hover{
   color: #00ffff;
} 

.contenidogral-merch .dropdown-menu {
   background: #000000;
   opacity: 1;
   border-radius: 15px;

   
}
.contenidogral-merch .dropdown-menu .dropdown-item {
   color:#98fb98;
   font-family:'Bebas Neue', cursive;
   font-size: 25px;
   font-weight: bold;
}
 /*-----------------Aca finaliza el estilo de menu de navegacion-------------------------*/
 
 /*----------------------------------Inicio del  MERCHANDISING---------------------------*/
 .detalles {
     background-color:#98fb98;
     display: grid;
     gap: 5px;
     grid-template-columns: repeat(6, 1fr);
 }
 .titular {  
     color: #000000;
     font-weight: bold;
     font-family:'Chakra Petch', sans-serif;
     font-size: 18px;
     margin: 10px 5px;
 }
 .productos {
    background-color: #493d3d;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    font-family:'Chakra Petch', sans-serif;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 2px;
    margin: 2px 1px;
 }
 .items {
     background: #f7e9e9;
 }    
 .items img {
     width: 100%;
     height: auto;
 }
 .contenidogral-merch .footer .redes-ig {
    font-size: 33px;
    padding: 4px;
}
.contenidogral-merch .footer .contacto .redes-ig a{
    margin: 1px 4px;
    font-size: 35px;
    color: #00ff7f;  
}
.contenidogral-merch .footer .contacto .redes-ig a i:hover {
     color: #adff2f;
}
  /*--------------------------------------Fin del merchandising-------------------------------*/
 /*-------------------------------Inicio de MEDIA QUERYS en MERCH------------------------------*/
 @media screen and (max-width: 768px) {
       .contenidogral-merch h1 {
           font-size: 32px;
       }
       .contenidogral-merch .menu ul li a {
           font-size: 22px;
       }
     .contenidogral-merch .merchand h2 {
         font-size: 42px;
         color: #adff2f;
         font-family:'Creepster', cursive;
     }
     .contenidogral-merch .section .detalles {
         background-color:#DC143C;
         /* display: grid;
         gap: 5px;
         grid-template-columns: repeat(6, 1fr);     */
     }
     .contenidogral-merch .section .titular {
         font-size: 12px;
     }
     .contenidogral-merch .section .productos {
         display: block;
         
     }
     .contenidogral-merch .section .items {
         display: block;
         margin: 1px;
     }
 
     .contenidogral-merch .footer .contacto .redes-ig a{
         margin: 1px 4px;
         font-size: 28px;
         color: #ff0000;
         
     }
     
     .contenidogral-merch .footer .contacto .redes-ig a i:hover {
          color: #adff2f;
     }
 
 }
 /*-----------------------------------Fin de MEDIA QUERYS en MERCH-------------------------------*/

 /*--------------------------------INICIO DE PAGINA DE CONTACTO-------------------*/
 /* .contenidogral-form {
     /* background-image: url(../img/pluma.jpg); 
     
 } */
 .contenidogral-form h1 {
    color: #DCDCDC;
    text-align: left;
    margin: 2px ;
    font-weight: bold;
    font-family:'Bebas Neue', cursive;
    font-size: 110px;
    padding: 10px;
    text-shadow: 4px 4px 0px darkslategray; 
    
    
}
.contenidogral-form .info {
    color: #ffffff;
    margin: 1px 2px;
    padding: 2px;
}
.contenidogral-form  .contdestacado h2{
    font-size: 90px;
    color:#fffafa;
    font-style:italic;
    font-weight: bold;
    font-family:'Bebas Neue', cursive;
    margin: 1px auto;
    padding: 1px;
    text-align: center;
    text-shadow: 4px 7px 0px #00ff7f; 
}
.contenidogral-form .section .datita-titulos h3 {
    margin: 5px 10px ;
    font-size: 36px;
    font-family: 'Chakra Petch', sans-serif;
    color: lime;
    font-weight: bold;
}
.contenidogral-form .section .datita h3{
     margin: 1px 4px;
     font-size: 36px;
     color: lime;
     font-weight: bold;
     
 }
 .datita {
    color: #ffffff;
    font-family: 'Chakra Petch', sans-serif;
    line-height: 1,6;
    margin: 4px 10px;
    padding: 5px;
}

/* .campos {
    color: red;
    line-height: 1,6;
    margin: 5px 10px;
    padding: 5px 10px 12px 5px;
} */


 .contenidogral-form .footer .contacto .redes-ig a i:hover {
      color: #adff2f;
 }
 .contenidogral-form .section .complet h3 {
     color: springgreen;
 }
 .contenidogral-form .section h3 {
     color: #00ff7f;
 }
 /*--------------------------FIN DE cont general DE CONTACTO--------------------------------*/
 /*-------------------------Inicio de MENU DE NAVEGACION de contacto-----------------*/
 .contenidogral-form  .nav.nav-pills{
    text-align: center;
    justify-content: center;
    font-size: 45px;
    margin: 5px 10px;
    padding: 10px;
    border: 5px;
    border-style:double;
    border-color:#DCDCDC;
    font-family:'Bebas Neue', cursive;
    font-weight: bold;
    

}
.contenidogral-form .nav-pills .nav-link.active {
   color: #00ff7f;
   background: none;
   font-family: 'Bebas Neue', cursive;
   font-style: oblique;
}
.contenidogral-form .nav-pills .nav-link.active:hover {
   color: #00ffff;
   background: none;
}
.contenidogral-form .nav-item.dropdown .nav-link.dropdown-toggle{
   color: #00ff7f;
   font-style: oblique;
   
} 
.contenidogral-form .nav-item.dropdown .nav-link.dropdown-toggle:hover{
   color: #00ffff;
} 

.contenidogral-form .dropdown-menu {
   background: black;
   opacity: 1;
   border-radius: 15px;

   
}
.contenidogral-form .dropdown-menu .dropdown-item {
   color:#98fb98;
   font-family:'Bebas Neue', cursive;
   font-size: 25px;
   font-weight: bold;
}
.contenidogral-form .footer .redes-ig {
    font-size: 33px;
    padding: 4px;
}
.contenidogral-form .footer .contacto .redes-ig a{
    margin: 1px 4px;
    font-size: 35px;
    color: #00ff7f;  
}
.contenidogral-form .footer .contacto .redes-ig a i:hover {
     color: #adff2f;
}
 /*-----------------------FIN DE MENU DE NAVEGACION DE CONTACTO-------------------------*/
 /*--------------------------INICIO DE MEDIA QUERYS EN CONTACTO--------------------------*/
 @media screen and (max-width: 768px) {
    .contenidogral-form .header h1 {
        font-size: 35px;
    }
    .contenidogral-form .section .trabajaconnos {
        font-size: 22px;
    }
    .contenidogral-form .footer .redes-ig i {
        text-decoration:none;
        color: #00ff7f;
        margin: 2px auto;
        padding: 2px;
        font-size: 30px;
        text-align: center;
    }
    
    }
 /*---------------------------FIN DE MEDIA QUERYS EN CONTACTO-----------------------------*/

  




