* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(../img/postes.webp);
}

.contenido-gral {
  width: 100%;
}

.contenido-gral .encabezado {
  background: #000;
  padding: 10px;
  border-radius: 1px;
}

.contenido-gral .encabezado h1 {
  color: snow;
  text-align: left;
  margin: 2px;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  font-size: 110px;
  padding: 10px;
  text-shadow: 3px 8px 6px darkslategray;
  font-style: italic;
}

.contenido-gral .encabezado .contdestacado h2 {
  font-size: 90px;
  color: snow;
  font-style: italic;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  margin: 1px auto;
  padding: 1px;
  text-align: center;
  text-shadow: 4px 7px 0px springgreen;
}

.contenido-gral .encabezado .nav.nav-pills {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 45px;
  margin: 5px 10px;
  padding: 10px;
  border: 10px;
  border-style: double;
  border-color: #DCDCDC;
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
}

.contenido-gral .encabezado .nav.nav-pills .nav-link.active {
  color: #00ff7f;
  background: none;
  font-family: 'Bebas Neue', cursive;
  font-style: oblique;
}

.contenido-gral .encabezado .nav.nav-pills .nav-link.active .nav-link.active:hover {
  color: #fafa78;
  background: none;
}

.contenido-gral .encabezado .nav-item.dropdown .nav-link.dropdown-toggle {
  color: springgreen;
  font-style: oblique;
}

.contenido-gral .encabezado .nav-item.dropdown .nav-link.dropdown-toggle .nav-link.dropdown-toggle:hover {
  color: #fafa78;
}

.contenido-gral .main {
  padding: 1px;
  border-radius: 20px;
  margin: 1px auto;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 500px;
      grid-template-rows: 500px;
}

.contenido-gral .section {
  width: auto;
  padding: 1px;
  margin: 1px 10px;
}

.contenido-gral .footer {
  background: #000000;
  padding: 1px;
  height: auto;
}

.contenido-gral .contacto {
  text-align: center;
  color: #ffffff;
  line-height: 1,6;
  margin: 1px auto;
  padding: 10px;
  font-size: 18px;
}

.contenido-gral .contacto a {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.contenido-gral .contacto p {
  margin: 1px auto;
  font-family: 'Chakra Petch', sans-serif;
}

.contenido-gral .contacto .codbarra {
  font-size: 42px;
  font-family: 'Libre Barcode 39 Text', cursive;
}

/*Inicio de MEDIA QUERYS en PAGINA PRINCIPAL*/
@media screen and (max-width: 768px) {
  .contenido-gral .encabezado {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .contenido-gral .encabezado h1 {
    font-size: 47px;
    margin: 5px auto;
  }
  .contenido-gral .encabezado .info {
    font-size: 14px;
    margin: 5px auto;
  }
  .contenido-gral .encabezado .menu {
    margin: 1px auto;
    padding: 1px;
    line-height: 1.2;
    text-align: center;
    width: auto;
  }
  .contenido-gral .encabezado .menu ul li a {
    font-size: 21px;
  }
  .contenido-gral .encabezado .contdestacado h2 {
    font-size: 42px;
    color: #e0cdcd;
    font-family: 'Bebas Neue', cursive;
    margin: 1px auto;
    padding: 1px;
    text-align: center;
  }
  .contenido-gral .encabezado .infocontenidodest {
    color: white;
    margin: 2px auto;
    font-size: 21px;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
  }
  .contenido-gral .ul.nav.nav-pills {
    margin: 1px 1px;
    padding: 1px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 24px;
  }
  .contenido-gral .ul.nav.nav-pills .nav.nav-pills {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-style: double;
    border-color: #c0c0c0;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
  }
  .contenido-gral .ul.nav.nav-pills .nav.nav-pills .nav-link.active {
    background: none;
    padding: 2px;
  }
  .contenido-gral nav.item.dropdown .nav-link.dropdown-toggle {
    padding: 2px;
  }
  .contenido-gral .nav-item {
    padding: 2px;
  }
  .main {
    margin: 2px auto;
    width: 400px;
  }
  .main #carouselExampleDark {
    margin: 1px 1px;
    width: 418px;
  }
  .main .footer {
    font-size: 15px;
    margin: 2px 1px;
  }
  .main .footer .contacto {
    text-align: center;
    font-size: 15px;
    padding: 10px;
  }
  .main .footer .contacto p {
    margin: 1px auto;
  }
  .main .footer .redes-ig i {
    text-decoration: none;
    color: springgreen;
    margin: 2px auto;
    padding: 2px;
    font-size: 30px;
    text-align: center;
  }
}

.contenidogral-docu header .docu {
  color: #ffffff;
  margin: 5px 10px;
  padding: 5px;
  font-family: 'Creepster', cursive;
  font-size: 45px;
  text-align: center;
  color: #adff2f;
}

.contenidogral-docu header .docu-info p {
  color: #ffffff;
  font-family: 'Cormorant Garamond', serif;
  margin: 5px 10px;
  padding: 2px 5px;
  font-size: 25px;
  text-align: center;
}

.contenidogral-docu .section {
  text-align: center;
  background: #ffffffc0;
  width: 760px;
  opacity: 0.9;
  border-radius: 18px;
  padding: 10px;
  font-size: 25px;
  margin: 1px auto;
}

.contenidogral-docu .section h2 {
  text-align: center;
  color: #ff0000;
  font-family: 'Chakra Petch', sans-serif;
}

.contenidogral-docu .section iframe {
  text-align: center;
}

.contenidogral-docu .footer {
  grid-area: footer;
  background: #000;
  opacity: 0.9;
}

.contenidogral-docu .footer :hover {
  opacity: 1;
}

.contenidogral-docu .footer .contacto .redes-ig a {
  margin: 1px 4px;
  font-size: 35px;
  color: #ff0000;
}

.contenidogral-docu .footer .contacto .redes-ig a i:hover {
  color: #adff2f;
}

@media screen and (max-width: 768px) {
  .contenidogral-docu h1 {
    font-size: 35px;
  }
  .contenidogral-docu .header .docu {
    font-family: 'Creepster', cursive;
    font-size: 30px;
    text-align: center;
    color: #adff2f;
  }
  .contenidogral-docu .header .docu-info {
    font-size: 18px;
    font-family: 'Cormorant Garamond', serif;
  }
  .contenidogral-docu .section {
    width: 398px;
  }
  .contenidogral-docu .section .patios {
    font-size: 18px;
    margin: 1px;
  }
  .contenidogral-docu .section .patios h2 {
    font-size: 22px;
  }
  .contenidogral-docu .section iframe {
    text-align: center;
    width: 350px;
  }
  .contenidogral-docu .footer .redes-ig i {
    text-decoration: none;
    color: #ff0000;
    margin: 2px auto;
    padding: 2px;
    font-size: 30px;
    text-align: center;
  }
}
/*# sourceMappingURL=estilo.css.map */