*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenido-gral {
    background-image: url(../img/postes.webp);
    width: 100%;
    .encabezado {
        background: #000;
        padding: 10px;
        border-radius: 1px;
    }
    .main {
        padding: 1px;
        border-radius: 20px ;
        margin: 1px auto;
        text-align: center;
       
    }
    .section {
        width: auto;
        padding: 1px;
        margin: 1px 10px;
        iframe {
            margin: 2px 20px;
        }
    }
    .footer{
        background: #000000;
        padding: 1px;
        height: auto;
    }
}
/*Inicio de MEDIA QUERYS en PAGINA PRINCIPAL*/
@media screen and (max-width: 768px){
    .contenido-gral{
             .encabezado {
           align-content: center;
           h1 {
               font-size: 47px;
               margin: 5px auto;
           }
           .info {
               font-size: 14px;
               margin: 5px auto;
           }
           .menu {
               margin: 1px auto;
               padding: 1px;
               line-height: 1.2;
               text-align: center;
               width: auto;
               ul li a{
                   font-size: 21px;
               }
           }
        }
        .main {
            margin: 2px auto;
            width: 400px;
        }
        .ul.nav.nav-pills{
            margin: 1px 1px;
            padding: 1px;
            justify-content: center;
            font-size: 24px;
            .nav.nav-pills {
                justify-content: center;
                border-style: double;
                border-color: #c0c0c0;
                font-family: 'Chakra Petch', sans-serif;
                font-weight: bold;
                .nav-link.active{
                    background: none;
                    padding: 2px;
                }
            }
        }    
        nav.item.dropdown {
            .nav-link.dropdown-toggle{
                padding: 2px;
            }
        }
        .nav-item {
            padding: 2px;
        }
        #carouselExampleDark {
            margin: 1px 1px;
        }
    }

}
    


















































.contenidogral-docu {
    header{
       .docu {
        color: #ffffff;
        margin: 5px 10px;
        padding: 5px;
        font-family: 'Creepster', cursive;
        font-size: 45px;
        text-align: center;
        color: #adff2f;
    } 
    .docu-info {
        p {
         color: #ffffff;
         font-family:'Cormorant Garamond', serif;
         margin: 5px 10px;
         padding: 2px 5px;
         font-size: 25px;
         text-align: center;

         }
         
    }
}
    .section {
        text-align: center;
        background: #ffffffc0;
        width: 760px;
        opacity: 0.9;
        border-radius: 18px;
        padding: 10px;
        font-size: 25px;
        margin: 1px auto;
        h2{
            text-align: center;
            color: #ff0000;
            font-family:'Chakra Petch', sans-serif;
            // font-size: 48px;
        }
        iframe{
            text-align: center;
        }
    }
    .footer {
        grid-area: footer;
        background: #000;
        opacity: 0.9;
        :hover{
            opacity: 1;
        }
        .contacto {
           .redes-ig {
               a{
                  margin: 1px 4px;
                  font-size: 35px;
                  color: #ff0000;
                  i:hover{
                      color: #adff2f;
                  }
               }
           }
        }
    
    }
}

@media screen and (max-width:768px) {
    .contenidogral-docu {
        h1 {
            font-size: 35px;
        }
   
    .header {
        .docu{
            font-family:'Creepster', cursive;
            font-size: 30px;
            text-align: center;
            color: #adff2f;
        }
        .docu-info{
            font-size: 18px;
            font-family: 'Cormorant Garamond', serif;
        }
    }
    .section{
        width: 398px;
          .patios{
            font-size: 18px;
            margin: 1px;
            h2{
                font-size: 22px;
            }
           
        }
        iframe {
            text-align: center;
            width: 350px;
        }
    }
    .footer{
        .redes-ig{
            i{
                text-decoration: none;
                color: #ff0000;
                margin: 2px auto;
                padding: 2px;
                font-size: 30px;
                text-align: center;
            }
        }
    }
}
}